<header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; height: ;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="/"><img src="../public//images/tuyen.png" alt="logo" style="height: 50px;"></a>
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;"></ul>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/realtimeProducts">Formulario</a>
              </li>
          <li class="nav-item">
                <a class="nav-link disable" href="/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profile">Perfil</a>
              </li>
              <li>
                <button id="cartButton">🛒</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
            <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
 <div id="chat-container">
    <h4 id="nombreusuario">Username</h4>
    <div id="chat-messages">
     
      <div class="message sender">
         <p id="chat"> </p>
      </div>
     
    </div>
    <form id="formulario">
      <input type="text" name="mensaje" id="mensaje" placeholder="Type your message...">
      <input type="submit" class="btn btn-primary btn-block btn-large" value="Enviar">
    </form>
   </div>
   </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/chat.js"></script>