   <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; height: ;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="/"><img src="../public//images/tuyen.png" alt="logo" style="height: 50px;"></a>
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;"></ul>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/realtimeProducts">Formulario</a>
              </li>
          <li class="nav-item">
                <a class="nav-link active" href="/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profile">Perfil</a>
              </li>
              <li>
                <button id="cartButton">🛒</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <br><br>
<div class="container">
   <form action="/api/sessions/reset-password/{{token}}" method="POST" id="productForm">
        <input type="hidden" name="token" value="{{token}}">
  <label for="password">Nueva Contraseña:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirmPassword">Confirmar Contraseña:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <button type="submit" class="btn btn-primary btn-large">Restablecer Contraseña</button>
   </form>
</div>



