<div class="container" style="margin: 60px;">
    <div class="row">
        <div class="col-md-5 offset-md-4">
            <h1 style="color: white; font-weight: bold;">Restaurá tu Contraseña!</h1>
            <form>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Usuario</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button  type="button" class="btn btn-primary btn-large" id="btnRestore" style="color: wheat;">Restaurar</button>
            </form>
        </div>
    </div>
</div>

<script src="../public/js/restore.js"></script>

